.previewImg {
    display: none;
}

@media (min-width: 960px) {
    .index-item:hover ~ .previewImg {
        display: block;
        position: fixed;
        top: 100px;
        left: 300px;
        right:0;
        
    }
}