.recent-image{ 
    transition: transform .2s;
}

.recent-image:hover {
    // background-blend-mode: luminosity;
    transform: scale(1.01);
}

@media (min-width: 960px) {
    .recent-horz-flow::-webkit-scrollbar {
        display: none;
    }
}