.card-mini-heading {
    border-top: solid 1px black;
    padding: 10px 0;
}

@media (min-width: 960px) {
    .recent-horz-flow {
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
        }
    .recent-horz-flow::-webkit-scrollbar {
            display: none;
        }
    
    .recent-horz-flow-child {
        min-width: calc(100% * 1 / 3.001);
    }
}