# Ignore Mac system files
.DS_store

# Ignore files related to API keys
.env

# Ignore config.php database information
site/config.php

# Ignore sessions / logs
site/assets/cache/
site/assets/logs/
site/assets/sessions/