// Import UIkit default theme (or uikit.less with only core styles) 
@import "../uikit-3.15.10/src/less/uikit.theme.less";
@import (inline) "google-fonts.css";

// available fonts

// font-family: 'Cabin', sans-serif;
// font-family: 'Major Mono Display', monospace;
// font-family: 'Oswald', sans-serif;
// font-family: 'Silkscreen', cursive;

html {
    /* 1 */
    font-family: 'Oswald', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6,
.uk-heading-small,
.uk-heading-medium,
.uk-heading-large,
.uk-heading-xlarge,
.uk-heading-2xlarge {
    font-family: 'Oswald', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

// card image heading on /recents
.card-mini-heading {
    border-top: solid 1px black;
    padding: 10px 0;
}