footer {
    border-top: solid 1px black;
    background: var(--footer-gradient);
    background-size: 800% 800%;

    -webkit-animation: footer-gradient 29s ease infinite;
    -moz-animation: footer-gradient 29s ease infinite;
    animation: footer-gradient 29s ease infinite;
}

@-webkit-keyframes footer-gradient {
    0%{background-position:17% 0%}
    50%{background-position:84% 100%}
    100%{background-position:17% 0%}
}
@-moz-keyframes footer-gradient {
    0%{background-position:17% 0%}
    50%{background-position:84% 100%}
    100%{background-position:17% 0%}
}
@keyframes footer-gradient {
    0%{background-position:17% 0%}
    50%{background-position:84% 100%}
    100%{background-position:17% 0%}
}