header {
    border-bottom: 0.1rem solid black;
    background-color: white;
}

button.hamburger-nav {
    background-color: transparent;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button.hamburger-nav:hover {
    cursor: pointer;
}

.uk-offcanvas-bar-light, a {
    background-color: white;
    color: black;
}

.uk-offcanvas-close {
    top: 2px;
    right: 2px;
    padding: 27px;
}

.offcanvas-nav-h1 {
    margin-top: 0.5rem;
}

.sls-nav-logo {
    padding-left: 1rem;
}

.sls-nav-title {
    border-right: 0.1rem solid black; 
}