header {
    border-bottom: var(--header-border-bottom);
    background-color: var(--bg-color);
}

button.hamburger-nav, .theme-toggle {
    background-color: transparent;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 2px;
}

button.hamburger-nav:hover, .theme-toggle:hover {
    cursor: pointer;
}

.uk-offcanvas-bar-light {
    background-color: var(--bg-color);
}

.uk-offcanvas-close {
    top: 1px;
    right: 0;
    margin: 15px;
}

.offcanvas-nav-h1 {
    margin-top: 0.5rem;
}

// fix mobile x menu nav button not always working
svg {
    pointer-events: none;
  }

.sls-nav-logo {
    padding-left: 1rem;
}

.sls-nav-title {
    border-right: var(--sls-nav-title-border-right); 
    text-transform: uppercase;
}

// #dark-mode-btn {
//     margin-top: 3.5px;
// }

@media screen and (max-width: 767px) {
    #dark-mode-btn {
        margin-top: 1px;
    }
}