header {
    padding: 1.9rem;
    border-bottom: 0.1rem solid black;
    background-color: white;
}

button.hamburger-nav {
    background-color: transparent;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button.hamburger-nav:hover {
    cursor: pointer;
}

.uk-offcanvas-close {
    top: 10px;
    right: 16px;
    padding: 27px;
}

.offcanvas-nav-h1 {
    margin-top: 0.5rem;
}